@import "node_modules/bootstrap/scss/bootstrap-grid.scss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #8A96A1;
  font-style: normal;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/*      HEADER      */


.header{
  display: flex;
  justify-content: space-between;
  //position: fixed;
  padding: 35px 24px;
  width: 100%;
  align-items: center;
  background-color: #e5e5e5;
}
.logo{

  align-items: center;
  display: flex;
  img{
    width: 100%;
  }
  &__text{
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    color: #101F2B;
  }
}
.nav{
  list-style: none;
  &__item{
    display: inline-block;
    margin-right: 32px;
    a{
      position: relative;
      &:hover{
        color: #0E70C7;
        //&:after{
        //  content: "";
        //  height: 3px;
        //  width: 100%;
        //  background: #0E70C7;
        //  left: 0;
        //  position: absolute;
        //  bottom: -5px;
        //  transition: all .2s ease;
        //}
      }
      transition: all .2s linear;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

.authorization{
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #0E70C7;
  font-family: 'Manrope', sans-serif;;
  &__login{
    font-family: inherit;
    margin-right: 32px;
    border: none;
    color: inherit;
  }
  &__signup{
    border: 1px solid #0E70C7;
    font-family: inherit;
    border-radius: 12px;
    padding: 8px 16px;
    color: inherit;
    transition: all .2s linear;
    &:hover{
      background-color: #0E70C7;
      color: #e5e5e5;
    }
  }
}




/*      FOOTER      */

footer{
  display: flex;
  justify-content: space-between;
  padding: 56px 142px;
  border-top: 1px solid #D4DBE1;
}
.support {
  text-align: right;
  &__title{
    font-weight: 500;
    font-size: 16px;
    color: #101F2B;
    margin-bottom: 15px;
  }
  &__contact{
    max-width: 375px;
    font-size: 16px;
    a{
      text-decoration: underline;
      color: #0E70C7;
    }
  }

}